@import url(https://fonts.googleapis.com/css?family=Shanti|Salsa);

html {
  background: radial-gradient(#b4c5cf, #447891);
  background-attachment: fixed;
}

body {
  margin: 20px;
  font: 24px/1 'Salsa', sans-serif;
  color: #fff;
  text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Raleway, sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

    .fibbage__button__text{
      width: 900px;
      color: #edd3a7;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: 36px;
      height: 130px;
    }

      .fibbage__button__text {
        color: #125b77;
      }
