@import url(https://fonts.googleapis.com/css?family=Shanti|Salsa);

* {
  box-sizing: border-box;
}

html {
  background: radial-gradient(#b4c5cf, #447891);
  background-attachment: fixed;
}

body {
  margin: 20px;
  font: 24px/1 'Salsa', sans-serif;
  color: #fff;
  text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
}

  
  a {
      color: #2A679F;
  }
  /*========*/
  
a {
  color: #ffefb2;
  text-decoration: none;
}

h1, h2, h3, b {
    display: block;
    margin: 0 auto;
    font-weight: normal;
    text-align: center;
}

h1 {
  margin-bottom: 10px;
  font-size: 60px;
  color: #ffefb2;
}

h2 {
  margin-bottom: 20px;
  font-size: inherit;
}


.main {
  margin-left: 140px;
}

ul {
    display: block;
    margin: 0 auto;
}

li {
    margin: 0 auto;
    font-weight: normal;
    text-align: center;
}


#radio_buttons {
    text-align: center;
}

button[type="button"] {
	cursor:pointer;
	width:25%;
	border:none;
	background:#0CF;
	color:#FFF;
	display: block;
	margin: 0 auto;
	padding:10px;
	font-size:15px;
	float: center;
 	padding-top: 8px;
	height: 35px;
	border-radius: 20px;
	margin-top: 15px;
	text-align: center;
}

button[type="button"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

button[type="button"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }
