@import url(https://fonts.googleapis.com/css?family=Shanti|Salsa);

* {
  box-sizing: border-box;
}

html {
  background: radial-gradient(#b4c5cf, #447891);
  background-attachment: fixed;
}

body {
  margin: 20px;
  font: 24px/1 'Salsa', sans-serif;
  color: #fff;
  text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
}

  
  a {
      color: #2A679F;
  }
  /*========*/
  
a {
  color: #ffefb2;
  text-decoration: none;
}

h1, h2 {
  margin: 0 0 0 140px;
  font-weight: normal;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  font-size: 60px;
  color: #ffefb2;
}

h2 {
  margin-bottom: 20px;
  font-size: inherit;
}


.main {
  margin-left: 140px;
}

#dislike_button {
	cursor:pointer;
	width:33%;
	border:none;
	background:#F00;
	color:#000;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
	float: left;
 	padding-top: 8px;
	height: 35px;
	border-radius: 20px;
	margin-top: 15px;
}

#meh_button {
	cursor:pointer;
	width:33%;
	border:none;
	background:#FF0;
	color:#000;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
	float: left;
 	padding-top: 8px;
	height: 35px;
	border-radius: 20px;
	margin-top: 15px;
}

#like_button {
	cursor:pointer;
	width:33%;
	border:none;
	background:#0F0;
	color:#000;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
	float: left;
 	padding-top: 8px;
	height: 35px;
	border-radius: 20px;
	margin-top: 15px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#like_button:hover {
	background:#0F4;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#dislike_button:hover {
	background:#F04;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#meh_button:hover {
	background:#FF4;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
