<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/question_page.css') }}">
  <link rel="stylesheet" href="question_page.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  
  <title>Infinite Questions</title>
</head>
<body>
  <h1>Infinite Trivia</h1>

  <h3></h3>
  <div id="room_container">
      <div id="create_room_options">
        <h2>Create A Room Here</h2>
        <div id="radio_buttons">

          <!-- Options -->
          <label for="fibbage">
            <input type="radio" value="fibbage" name="game_mode" id="fibbage"> <span>Fibbage</span>
          </label>
          <label for="category">
          <input type="radio" value="category" name="game_mode" id="category"> <span>Category</span>
        </label>
          <label for="random">
       <input type="radio" value="random"  name="game_mode" id="random" checked> <span>Random</span>
        </label>
        </div>
	<button class="room" id="create_room_button">Create Room!</button>
      </div>
      <!--
      <div class="wrap">
   
        <a class="btn btn-medium btn-blue btn-radius" href="#">Player 1</a>
        <a class="btn btn-medium btn-green btn-radius" href="#">Player 2</a>
        <a class="btn btn-medium btn-orange  btn-radius" href="#">Player 3</a>
        <a class="btn btn-medium btn-red btn-radius" href="#">Player 4</a>

      </div>
      -->
      <br>
  </div>

    <script src="create_room.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/create_room.js') }}"></script>
</body>
</html>
