<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fibbage_mode.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fibbage_mode.css') }}">
    <title>Infinite Fibbage</title>
</head>
<body>
    


<h1>question goes here </h1>



<min class="fibbage__body">

    <button class="fibbage__button">
      <span class="fibbage__button__text">Donkeys</span>
    </button>
    <button class="fibbage__button">
      <span class="fibbage__button__text">Pachyderms</span>
    </button>
    <button class="fibbage__button">
      <span class="fibbage__button__text">Iggy Azalea</span>
    </button>
 
  
    <button class="fibbage__button">
      <span class="fibbage__button__text">Sloth brains</span>
    </button>
    <button class="fibbage__button">
      <span class="fibbage__button__text">Cheech Marin</span>
    </button>
    <button class="fibbage__button">
      <span class="fibbage__button__text">Marcus Aurelius</span>
    </button>
    <button class="fibbage__button">
      <span class="fibbage__button__text">Tamer Aldwairi</span>
    </button>
    <button class="fibbage__button">
      <span class="fibbage__button__text">China</span>
    </button>
    <button class="fibbage__button">
      <span class="fibbage__button__text">Robot Dog</span>
    </button>
    <button class="fibbage__button">
      <span class="fibbage__button__text">A three dollar bill</span>
    </button>


</min>
</body>
</html>