<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Infinite Trivia Home</title>
  </head>
  <body>
    <!-- Jquery and SocketIO  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

    <div id="home_screen_container">
      <!-- welcome screen -->
      <h2>Welcome To Infinite Trivia!!</h2>
      <!-- Create Room  -->
      <a href="{{ url_for('create_room_page') }}">Create Room</a>      
      <br><br>
      <!-- Join Room -->
      <label for="room_code">Room Code</label>
      <br>
      <input type="text" maxlength="4" name="room_code" id="room_code"/>
      <div id="code_error_container"> </div>
      <label for="game_name">Name</label>
      <br>
      <input type="text" maxlength="16" name="game_name" id="game_name"/>
      <div id="name_error_container"> </div>
      <br>
      <button type="button" id="join_room_button">Join Room</button>
    </div>
    <div id="game_container"></div>
    <!-- script -->
    <script type="text/javascript" src="{{ url_for('static', filename='client_game_script.js') }}"></script>
  </body>
</html>
