<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/question_page.css') }}">
  <link rel="stylesheet" href="question_page.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <title>Infinite Questions</title>
</head>
<body>
  <h1>Who was the realest in 1865?</h1>

  <div class="wrap">
   
    <a class="btn btn-medium btn-blue btn-radius" href="#">Player 1</a>
    <a class="btn btn-medium btn-green btn-radius" href="#">Player 2</a>
    <a class="btn btn-medium btn-orange  btn-radius" href="#">Player 3</a>
    <a class="btn btn-medium btn-red btn-radius" href="#">Player 4</a>
    
    <hr />
    
    
  
  </div>
  
 

 <!-- TODO: need to have toggles for players who entered questions -->
</body>
</html>